<app-drawer></app-drawer>
<div class="container-fluid space-top">
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="row">
                <div class="col-md-12">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-subtitle>Showing all recorderd Customer</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider inset="true">
                    </mat-divider>
                    <mat-card-content>
                      <div class="row">
                        <div class="col-md-12 space-top">
                          <app-customers-table></app-customers-table>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>