<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>build</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
      Manufactures
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p *ngIf="products">Products stock bellow 100 : <strong>{{ products.length }}</strong></p>
  <mat-action-row>
    <button routerLink="/manufactures" mat-button color="primary">Manage</button>
    <button routerLink="/manufactures/create" mat-button color="accent">New</button>
  </mat-action-row>
</mat-expansion-panel>