<div class="row">
  <div class="col-md-12">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="loading">
    </mat-progress-bar>
    <mat-tab-group dynamicHeight *ngIf="!loading">
      <mat-tab label="Basic">
        <div class="row space-top">
          <div class="col-md-6">
            <app-products-info-basic [product]="product"></app-products-info-basic>  
          </div>
          <div class="col-md-6">
            <button (click)="editProduct()" mat-raised-button>Edit {{ product.name }}</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Assemblies">
        <div class="row">
          <div class="col-md-12">
            <app-assemblies-card [product]="product"></app-assemblies-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>