<app-drawer></app-drawer>
<div class="container-fluid space-top">
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <mat-card-subtitle>Manufactures Index</mat-card-subtitle>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content class="space-top">
              <div class="row">
                <div class="col-md-10">
                  <app-manufactures-table></app-manufactures-table>
                </div>
                <div class="col-md-2">
                  <button routerLink="/manufactures/create" class="btn btn-block" matTooltip="Create new Manufacture Report" mat-raised-button color="primary">Create</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>