<app-drawer></app-drawer>
<div class="container-fluid space-top">
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <app-current-user-expantion-panel></app-current-user-expantion-panel>
                        </div>

                        <div class="col-md-12 space-top">
                            <app-history-expantion-panel></app-history-expantion-panel>
                        </div>

                        <div class="col-md-12 space-top">
                            <app-catalogs-expantion-panel></app-catalogs-expantion-panel>
                        </div>

                        <div class="col-md-12 space-top">
                            <app-products-expantion-panel></app-products-expantion-panel>
                        </div>
                        <div class="col-md-12 space-top">
                            <app-orders-expantion-panel></app-orders-expantion-panel>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <app-categories-expantion-panel></app-categories-expantion-panel>
                </div>
                <div class="col-md-4">
                    <app-users-expantion-panel></app-users-expantion-panel>
                </div>
            </div>
        </div>
    </div>
</div>