<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="form" *ngIf="materials" (submit)="submit()">
  <div class="row">
    <div class="col-md-12 space-top">
      <mat-select placeholder="Select a Material" name="material_id" formControlName="material_id" class="full-width" required>
        <mat-option *ngFor="let material of materials" [value]="material.id">
          {{ material.name }} - Availabe {{ material.stock }}
        </mat-option>
      </mat-select>
    </div>
    <div class="col-md-12 space-top">
      <mat-form-field class="full-width">
        <input matInput placeholder="Quantity" formControlName="quantity" required min="1">
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-block" [disabled]="form.invalid" mat-raised-button color="primary">
        {{ data.assembly ? 'Update' : 'Create' }} Assembly
      </button>
    </div>
  </div>
</form>