<app-drawer></app-drawer>
<div class="container-fluid space-top">
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="row">
              <div class="col-md-12">
                <mat-progress-bar
                  *ngIf="loading"
                  mode="indeterminate">
                </mat-progress-bar>
                <app-catalogs-card *ngIf="catalog" [catalog]="catalog"></app-catalogs-card>
              </div>
            </div>
        </div>
    </div>
</div>