<app-drawer></app-drawer>
<div class="container-fluid space-top">
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <div class="row">
        <div class="col-md-4" *ngFor="let card of cards">
          <app-card-icon [icon]="card.icon" [title]="card.title" [body]="card.body" [point]="card.point" [type]="card.type"></app-card-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="row space-top">
    <div class="col-md-10 offset-md-2">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-10">
              <app-material-table [thead]="thead" [tbody]="tbody"></app-material-table>
            </div>
            <div class="col-md-2">
              <button routerLink="/materials/purchasing" class="btn-block" mat-raised-button color="primary">Purchasing</button>
              <button class="btn-block" mat-raised-button color="accent">Deprecation</button>
              <button class="btn-block" mat-raised-button>Analytics</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>