<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (submit)="submit()">
          <div class="row">
            <div class="col-md-12 space-top">
              <mat-form-field class="full-width">
                <textarea placeholder="Full Address" matInput formControlName="address" name="address" cols="30" rows="5" required></textarea>
              </mat-form-field>
            </div>

            <div class="col-md-12 space-top">
              <button [disabled]="form.invalid" mat-raised-button type="submit" color="primary" class="btn btn-block">Save</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>