<div class="single-news mb-3">
  <div class="view overlay rounded z-depth-2 mb-4">
    <img class="img-fluid" [src]="catalog.advertises[0].image.url" alt="Sample image">
    <a>
      <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
    </a>
  </div>
  <div class="d-flex justify-content-between">
    <div class="col-11 text-truncate pl-0 mb-3">
      <a [routerLink]="['/catalogs', catalog.slug]" class="font-weight-bold">{{ catalog.title }}</a>
    </div>
    <a>
      <i class="fas fa-angle-double-right"></i>
    </a>
  </div>
</div>