<app-drawer></app-drawer>
<div class="container-fluid space-top">
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <mat-card-content>
              <mat-select placeholder="Pick Material" class="full-width" [(ngModel)]="material">
                <mat-option *ngFor="let item of materials" [value]="item">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-12 space-top" *ngIf="material">
          <div class="row">
            <div class="col-md-12 space-bottom">
              <app-material-show-card [material]="material"></app-material-show-card>
            </div>
            <div class="col-md-12 space-bottom">
              <app-material-bought-from [material]="material"></app-material-bought-from>
            </div>
            <div class="col-md-12 space-bottom">
              <app-material-depreciation-graph [material]="material"></app-material-depreciation-graph>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>