<app-drawer></app-drawer>
<div class="container-fluid space-top">
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <mat-card-content>
              <mat-select placeholder="Type" [(ngModel)]="type">
                <mat-option value="daily">Daily</mat-option>
                <mat-option value="weekly">Weekly</mat-option>
                <mat-option value="monthly">Monthly</mat-option>
                <mat-option value="year">Year</mat-option>
              </mat-select>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>