<section class="my-5">
  <h2 class="h1-responsive font-weight-bold text-center my-5">Our Products</h2>
  <p class="text-center w-responsive mx-auto mb-5">
    We provider you better driver performance, furnish style, and automotive solutions.
  </p>

  <div class="row">
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/images/chain-lube.png" alt="Chain Lube">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>

    <div class="col-lg-7">
      <a href="#!" class="green-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-motorcycle pr-2"></i>Automotive</h6>
      </a>
      <h3 class="font-weight-bold mb-3"><strong>Automotive Care</strong></h3>
      <p>Providing Champion Winning Parts Including</p>
    </div>
  </div>

  <hr class="my-5">
  <div class="row">
    <div class="col-lg-7">
      <a href="#!" class="pink-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-paint-brush pr-2"></i>Paint</h6>
      </a>
      <h3 class="font-weight-bold mb-3"><strong>Spray Paint</strong></h3>
      <p>
        - Interior and Exterior usage <br>
        - Wood, Metal, Plastic and more <br>
        - Cover fast, easy and drip-free <br>
        - Durable, ulta smooth finish standup <br>
        - Up to element, protect against rust.
      </p>
    </div>
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/images/spray-paint.png" alt="Spray Paint">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <hr class="my-5">
  <div class="row">
    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/images/carousel-1.png" alt="All Product">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <div class="col-lg-7">
      <a href="#!" class="indigo-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-tags pr-2"></i>All Products</h6>
      </a>
      <p>
        Provider you beter style and performance.
      </p>
    </div>
  </div>
</section>