<div class="container body">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step [stepControl]="productFormGroup">
              <form [formGroup]="productFormGroup">
                <ng-template matStepLabel>Add Products</ng-template>
                <button mat-raised-button color="primary" (click)="openProductDialog()">
                  <mat-icon>add</mat-icon> Products
                </button>
                <button mat-flat-button matStepperNext>Next</button>
              </form>
            </mat-step>
            <mat-step [stepControl]="customerFormGroup">
              <form [formGroup]="customerFormGroup">
                <ng-template matStepLabel>Customer Information</ng-template>
                <mat-card>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <div class="form-group">
                            <mat-form-field class="full-width">
                              <mat-label>Customer Name</mat-label>
                              <input formControlName="customerName" placeholder="Full Name" matInput>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <mat-form-field class="full-width">
                              <mat-label>Phone</mat-label>
                              <input formControlName="customerPhone" class="full-width" placeholder="08********" matInput>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <mat-radio-group formControlName="customerPayment">
                              <mat-radio-button class="col-md-6" value="1">Cash</mat-radio-button>
                              <mat-radio-button class="col-md-6" value="0">Non Cash</mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <mat-radio-group>
                                  <mat-slide-toggle formControlName="customerDiscount" (change)="sumTotal()">Discount</mat-slide-toggle>
                                </mat-radio-group>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field *ngIf="customerFormGroup.value.customerDiscount">
                                  <input type="number" matInput formControlName="customerDiscountPercent" (change)="sumTotal()">
                                  <span matSuffix>%</span>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <div class="form-group">
                            <mat-form-field class="full-width">
                              <mat-label>Customer Address</mat-label>
                              <textarea formControlName="customerAddress" matInput rows="6"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext [disabled]="customerFormGroup.invalid">Next</button>
                  </mat-card-actions>
                </mat-card>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p class="lead">Are You sure ?</p>
              <button mat-raised-button color="primary">Yes</button>
              <button mat-flat-button matStepperPrevious>Go Back</button>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-12 space-top">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <p class="lead text-center">Delivery Order</p>
              <mat-divider></mat-divider>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8 space-top">
                  <table mat-table [dataSource]="selectedProducts" class="full-width">
                    <ng-container matColumnDef="position">
                      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                      <td mat-cell *matCellDef="let element"> {{ element.price | currency : 'Rp. ' }} </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                      <td mat-cell *matCellDef="let element"> @ {{  element.quantity }} </td>
                    </ng-container>
                    <ng-container matColumnDef="options">
                      <td mat-cell *matCellDef="let element">
                        <button mat-flat-button (click)="showRemoveDialog(element.id)"><mat-icon>remove</mat-icon></button>
                      </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
                  </table>
                </div>
                <div class="col-md-4 space-top">
                  <p class="text-secondary text-center">Customer Information</p>
                  <div class="row">
                    <div class="col-md-3">Name</div>
                    <div class="col-md-9">{{ customerFormGroup.value.customerName }}</div>
                    <div class="col-md-3">Address</div>
                    <div class="col-md-9">{{ customerFormGroup.value.customerAddress }}</div>
                    <div class="col-md-3">Phone</div>
                    <div class="col-md-9">{{ customerFormGroup.value.customerPhone }}</div>
                    <div class="col-md-3">Payment</div>
                    <div class="col-md-9">
                      <span *ngIf="customerFormGroup.value.customerPayment == 1">Cash</span>
                      <span *ngIf="customerFormGroup.value.customerPayment == 0">Non Cash</span>
                    </div>
                    <div class="col-md-12 space-top"><mat-divider></mat-divider></div>
                    <div class="col-md-3 space-top">Sub Total</div>
                    <div class="col-md-9 space-top">{{ subTotal | currency : 'Rp. ' }}</div>
                    <div class="col-md-3">Discount</div>
                    <div class="col-md-9">{{ discount | currency : 'Rp. ' }}</div>
                    <div class="col-md-3 space-top">Total</div>
                    <div class="col-md-9 space-top"><strong>{{ total | currency : 'Rp. '}}</strong></div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 space-top">
                <mat-divider></mat-divider>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>