<div class="container body">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step [stepControl]="productFormGroup">
              <form [formGroup]="productFormGroup">
                <ng-template matStepLabel>Add Products</ng-template>
                <button mat-raised-button color="primary" (click)="openProductDialog()">
                  <mat-icon>add</mat-icon> Products
                </button>
                <button mat-flat-button matStepperNext>Next</button>
              </form>
            </mat-step>
            <mat-step [stepControl]="customerFormGroup">
              <form [formGroup]="customerFormGroup">
                <ng-template matStepLabel>Customer Information</ng-template>
                <mat-card>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <div class="form-group">
                            <mat-form-field class="full-width">
                              <mat-label>Customer Name</mat-label>
                              <input formControlName="customerName" placeholder="Full Name" matInput>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <mat-form-field class="full-width">
                              <mat-label>Phone</mat-label>
                              <input formControlName="customerPhone" class="full-width" placeholder="08********" matInput>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <mat-radio-group formControlName="customerPayment">
                              <mat-radio-button class="col-md-6" value="1">Cash</mat-radio-button>
                              <mat-radio-button class="col-md-6" value="0">Non Cash</mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-6">
                                <mat-radio-group>
                                  <mat-slide-toggle formControlName="customerDiscount" (change)="sumTotal()">Discount</mat-slide-toggle>
                                </mat-radio-group>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field *ngIf="customerFormGroup.value.customerDiscount">
                                  <input type="number" matInput formControlName="customerDiscountPercent" (change)="sumTotal()">
                                  <span matSuffix>%</span>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <div class="form-group">
                            <mat-form-field class="full-width">
                              <mat-label>Customer Address</mat-label>
                              <textarea formControlName="customerAddress" matInput rows="6"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext [disabled]="customerFormGroup.invalid">Next</button>
                  </mat-card-actions>
                </mat-card>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p class="lead">Are You sure ?</p>
              <button mat-raised-button color="primary">Yes</button>
              <button mat-flat-button matStepperPrevious>Go Back</button>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-12 space-top">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <p class="lead text-center">Order Information</p>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 space-top">
                  <table mat-table [dataSource]="selectedProducts" class="full-width mat-elevation-z8">
                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef> Item </th>
                      <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Description </th>
                      <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef> Unit Price </th>
                      <td mat-cell *matCellDef="let element"> {{ element.price | currency : 'Rp. ' }} </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> Qty </th>
                      <td mat-cell *matCellDef="let element">{{  element.quantity }} </td>
                    </ng-container>
                    <ng-container matColumnDef="sum">
                      <th mat-header-cell *matHeaderCellDef> Price </th>
                      <td mat-cell *matCellDef="let element">{{ element.price * element.quantity | currency: 'Rp. '}} </td>
                    </ng-container>
                    <ng-container matColumnDef="discount">
                      <th mat-header-cell *matHeaderCellDef> Discount </th>
                      <td mat-cell *matCellDef="let element">{{ element.discount | currency: 'Rp. ' }} </td>
                    </ng-container>
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-flat-button matTooltip="Remove from list" (click)="showRemoveDialog(element.id)">
                          <mat-icon>remove</mat-icon>
                        </button>
                        <button mat-flat-button matTooltip="Set Discount" (click)="discountDialog(element.id)">
                          <mat-icon>label_off</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
                    <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>