<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-1">
      <mat-card class="card">
        <mat-card-content class="row">

          <div class="col-6 offset-3">
            <img class="card-avatar spacer" ngxGravatar [(email)]="gravatar" size="150" fallback="identicon" />
          </div>

          <div class="col-10 offset-1 spacer">
            <mat-form-field class="full-width">
              <input matInput type="email" placeholder="Email" [formControl]="emailControl" autofocus>
              <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          
          <div class="col-10 offset-1">
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Password" [formControl]="passwordControl">
              <mat-error *ngIf="passwordControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-card-actions>
            <div class="col-10 offset-1 spacer">
              <mat-spinner-button (click)="submit()" [options]="buttonOptions"></mat-spinner-button>
            </div>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>