<section class="contact-section my-5">
    <div class="card">
        <div class="row">
            <div class="col-lg-6">
                <div class="card-body contact text-center h-100 white-text">
                    <img class="thumbnail col-md-10 mf-offset-1" src="assets/images/logo.jpeg" alt="Anugrah Distributor Indonesia">
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="card-body indigo contact text-center h-100 white-text">
                    <h3 class="my-4 pb-2">Call Us</h3>
                    <ul class="text-lg-left list-unstyled ml-4">
                        <li>
                            <p><i class="fas fa-map-marked pr-2"></i>Jalan Prabu Kian Santang no. 169 A. Sangiang Jaya, Priuk Kota Tangerang</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone pr-2"></i>02155227711</p>
                        </li>
                    </ul>
                    <hr class="hr-light my-4">
                    <ul class="list-inline text-center list-unstyled">
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg li-ic">
                                <i class="fab fa-linkedin-in"> </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram"> </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>