<app-drawer></app-drawer>
<div class="container-fluid space-top">
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <mat-card-subtitle>Manufactures Create</mat-card-subtitle>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content class="space-top">
              <div class="row">
                <div class="col-md-12">
                  <app-manufactures-form
                    (result)="manufactureListener($event)"
                    [create]="true"
                    [attachable]="true"
                    ></app-manufactures-form>
                </div>
                <div class="col-md-12 space-top">
                  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                  <app-manifests-table *ngIf="!loading" [(manufacture)]="manufacture"></app-manifests-table>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>