<mat-card>
  <mat-card-subtitle>Material Update</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" required formControlName="name" maxlength="120" minlength="6">
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['name'].hasError('maxlength') || form.controls['name'].hasError('minlength')">
          Name should between 6 and 120 characters
        </mat-error>
      </mat-form-field>
      <button [disabled]="form.invalid" mat-raised-button color="primary">Update Material</button>
    </form>
  </mat-card-content>
</mat-card>