<app-drawer></app-drawer>
<div class="container-fluid space-top">
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <mat-card-subtitle>Material Purchasing</mat-card-subtitle>
          </mat-card>
        </div>

        <div class="col-md-12 space-top">
          <mat-card>
            <mat-card-content>
              <form [formGroup]="materialPurchase" (ngSubmit)="sendForm()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <mat-label>Purchasing Date</mat-label>
                          <input matInput [matDatepicker]="picker" placeholder="Select a date" required formControlName="date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                        
                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <mat-label>Invoice / PO number</mat-label>
                          <input matInput type="text" required formControlName="invoice">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <mat-label>Select or Create new Provider</mat-label>
                          <input matInput required type="text" [matAutocomplete]="auto" formControlName="provider">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <span matPrefix>Rp. &nbsp;</span>
                          <mat-label>Amount</mat-label>
                          <input matInput required type="number" class="number" formControlName="amount">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <mat-form-field class="full-width">
                      <mat-label>Note</mat-label>
                      <textarea matInput formControlName="note"></textarea>
                    </mat-form-field>
                  </div>

                  <div class="col-md-12" *ngIf="materialPurchase.valid">
                    <mat-spinner-button type="submit" class="float-right" [options]="spinner"></mat-spinner-button>
                  </div>
                  
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-12 space-top" *ngIf="materialPurchase.valid">
          <mat-card>
            <mat-card-content>
              <p class="lead text-secondary">Purchased Material</p>
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <mat-label>Material Name</mat-label>
                    <input type="text" matInput required [formControl]="name">
                  </mat-form-field>
                </div>
  
                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <mat-label>Unit Price</mat-label>
                    <span matPrefix>Rp. &nbsp;</span>
                    <input type="number" matInput required class="number" [formControl]="price">
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="full-width">
                    <mat-label>Quantity</mat-label>
                    <input type="number" matInput required class="number" [formControl]="quantity">
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <button mat-raised-button [disabled]="!materialValid()" (click)="addMaterial()">
                    <mat-icon>add</mat-icon> Material 
                  </button>
                </div>

                <div class="col-md-12">
                  <table mat-table [dataSource]="datasource" class="mat-elevation-z8 full-width">
                  
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> Quantity </th>
                      <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef> Unit Price </th>
                      <td mat-cell *matCellDef="let element"> {{ element.price | currency: 'Rp ' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="warn"><mat-icon (click)="removeFromList(element.name)">remove</mat-icon></button>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="headers"></tr>
                    <tr mat-row *matRowDef="let row; columns: headers;"></tr>
                  </table>

                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>