/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background: rgba(240,240,240, 0.7);
}

.body {
    padding-top: 75px;
}

.space-top {
    padding-top: 15px;
}

.full-width {
  width: 100%;
}

input.number {
  -moz-appearance: textfield;
}
input.number::-webkit-outer-spin-button,
input.number::-webkit-inner-spin-button {
  display: none;
}