<!-- <app-carousel></app-carousel> -->
<header>
  <app-navbar></app-navbar>
  <div class="view">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft text-light" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5">Anugrah Distributor Indonesia</h1>
            <hr class="hr-light">
            <h6 class="mb-4">We Provide Care Solution for your Automotive</h6>
          </div>
          <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <img src="assets/images/intro.png" alt="Intro Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>