<mat-sidenav-container class="sidenav-container full-width">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <div class="col-md-3 offset-md-3 space-top">
      <img ngxGravatar [email]="user.email" size="100" fallback="mp" />
    </div>
    <div class="col-md-12">
      <p class="text-primary text-center">{{ user.name }}</p>
      <p class="text-center"><small class="text-secondary text-center">{{ user.email }}</small></p>
    </div>
    <div class="col-md-12 text-center">
      <button color="primary" (click)="logout()" mat-raised-button>Logout</button>
    </div>
    <div class="col-md-12 space-top">
      <mat-divider></mat-divider>
    </div>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <button class="btn btn-block text-left" mat-button [routerLink]="link.link" [color]="activeUrl(link.link)">
          <mat-icon  matListIcon>{{ link.icon }}</mat-icon>{{ link.text }}
        </button>
      </mat-list-item>      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
